.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

[class*="col-"] {
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
$grid-columns: 12;
$width:100% ;
@for $i from 1 through $grid-columns {
  .col-#{$i} {width:  $i * $width / $grid-columns}
}

ul.menu{
   @media (max-width: 600px) {
     width: 25%;
  }
}
