.container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
$width:100% ;
   $grid-columns: 9;
   @for $i from 1 through $grid-columns {
     .col-#{$i} {width:  $i * $width / $grid-columns}
   }
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}
